# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
ENV/
.build/

# Django
db.sqlite3-journal

# OS
.DS_Store
Thumbs.db

# Node/Frontend (au cas où)
node_modules/
.dist/

# IDE
.vscode/
.idea/

# Static build artifacts
staticfiles/

# Tests temporaires
.coverage
htmlcov/
.pytest_cache/

# Logs
*.log
